@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply w-max text-center tracking-wide text-white p-3 px-8 font-title rounded shadow cursor-pointer transition duration-200 focus:outline-none ring-offset-2 focus:ring-2 disabled:text-gray-400 disabled:bg-gray-200 disabled:hover:bg-gray-200 disabled:focus:bg-gray-200 disabled:cursor-progress;
}

.btn--gold {
  @apply bg-gold hover:bg-gold2 focus:bg-gold2 active:bg-gold3 ring-gold;
}

.form__input {
  @apply transition duration-200 block px-6 py-3 w-full rounded outline-none border-none text-white bg-mid-blue placeholder:text-white placeholder:opacity-70 focus:ring-slate-600 appearance-none;

  line-height: 1;
}

.form__label {
  @apply block text-slate-400 w-32;
}

.form__error {
  @apply text-red-400 text-xs mt-2;
}

figure,
img {
  width: 100%;
  height: 100%;
}

figure {
  overflow: hidden;
  position: relative;
}

img {
  object-fit: cover;
}
